<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
      <header>
      <!-- Menú versión móvil -->
      <ul id="mobile-demo" class="side-nav">
        <li><a href="file:///C:/Users/palomo/Desktop/bsip/index.html">Home</a></li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Consultas<i class="mdi-navigation-arrow-drop-down"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="lista_empresas.html">Empresas</a></li>
                  <li><a href="lista_proyectos.html">Proyectos</a></li>
                  <li><a href="lista_carreras.html">Carreras</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="no-padding">
          <ul class="collapsible collapsible-accordion">
            <li>
              <a class="collapsible-header">Registro<i class="mdi-navigation-arrow-drop-down"></i></a>
              <div class="collapsible-body">
                <ul>
                  <li><a href="reg_empresa.html">Nueva empresa</a></li>
                  <li><a href="reg_proyecto.html">Nuevo proyecto</a></li>
                  <li><a href="reg_carrera.html">Nueva Carrera</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Menú versión escritorio -->
      <ul id="consultas" class="dropdown-content">
        <li><a href="lista_empresas.html">Empresas</a></li>
        <li class="divider"></li>
        <li><a href="lista_proyectos.html">Proyectos</a></li>
        <li class="divider"></li>
        <li><a href="lista_carreras.html">Carreras</a></li>
        <li class="divider"></li>
      </ul>
      <ul id="registro" class="dropdown-content">
        <li><a href="reg_empresa.html">Nueva empresa</a></li>
        <li class="divider"></li>
        <li><a href="reg_proyecto.html">Nuevo proyecto</a></li>
        <li class="divider"></li>
        <li><a href="reg_carrera.html">Nueva Carrera</a></li>
      </ul>
      <nav class="blue darken-1">
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="left hide-on-med-and-down">
            <li><a href="index.html">Home<i class="material-icons left">dashboard</i></a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="consultas">Consultas<i class="material-icons left">search</i><i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="registro">Registro<i class="material-icons left">mode_edit</i><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
      </nav>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

    </header>
  <main>
 
  <h1 class="center-align cyan-text">
      Registro de Carrera</h1>
 <li class="divider"></li> 
  <br /> 
<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">view_day</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">Nombre de la Carrera</label>
        </div>
      </div>
    </form>
  </div>
   <!-- view_day -->   
  <div>
  <br /> 
<div align="center" >
  <div class="btn waves-effect waves-teal center-align">GUARDAR
</div>
</div>
</div>

 </div>
  </main>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        // Initialize collapse button
        $(".button-collapse").sideNav();
        $('.collapsible').collapsible();

        $('#textarea1').val('New Text');
        $('#textarea1').trigger('autoresize');
        $('select').material_select();

      });
    </script>    
    </body>
    </html>